manifest {
  name            = 'grmap'
  author          = 'Abhinav Mishra'
  homePage        = 'https://github.com/bibymaths/grmap'
  description     = 'Genome read matching and annotation workflow migrated to Nextflow DSL2'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.10.0'
}

params {
  input               = 'data/reads/*.fasta.gz'
  samplesheet         = null
  reference           = 'data/ref/hg38_partial.fasta.gz'
  querysize           = 10

  // Single-chromosome defaults (legacy-compatible)
  chromosome          = 'chr1'
  annotation_dir      = 'data/annotations'
  gff                 = null
  tss                 = null
  cpg                 = null
  repeatmasker        = null

  outdir              = 'results'
  publish_mode        = 'copy'
  tracedir            = 'results/pipeline_info'
}

process {
  executor = 'local'
  shell = ['/bin/bash', '-euo', 'pipefail']
  withName: 'MATCH' {
    cpus = 1
    memory = '2 GB'
    time = '1h'
  }
  withName: 'ANNOTATE' {
    cpus = 1
    memory = '3 GB'
    time = '1h'
  }
  withName: 'MERGE_ANNOTATED' {
    cpus = 1
    memory = '1 GB'
    time = '30m'
  }
  withName: 'SUMMARIZE_MATCHES' {
    cpus = 1
    memory = '1 GB'
    time = '30m'
  }
  withName: 'PLOT_*' {
    cpus = 1
    memory = '2 GB'
    time = '1h'
  }
}

profiles {
  conda {
    conda.enabled = true
    process.conda = null
  }
  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
    process.container = 'ghcr.io/bibymaths/grmap:latest'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process.container = 'docker://ghcr.io/bibymaths/grmap:latest'
  }
  slurm {
    process.executor = 'slurm'
    executor.queueSize = 100
  }
}

trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}
report {
  enabled = true
  file = "${params.tracedir}/report.html"
}
timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}
dag {
  enabled = true
  file = "${params.tracedir}/dag.html"
}

includeConfig 'conf/base.config'
includeConfig 'conf/test.config'
