manifest {
  name            = 'grmap'
  author          = 'Abhinav Mishra'
  homePage        = 'https://github.com/bibymaths/grmap'
  description     = 'Genome read matching and annotation workflow'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.10.0'
}

params {
  // Inputs
  input              = 'data/reads/*.fasta.gz'
  samplesheet        = null
  reference          = 'data/ref/hg38_partial.fasta.gz'

  // Match options
  query_size         = 10

  // Annotation options
  chromosome         = 'chr1'
  annotation_dir     = 'data/annotations'
  gff                = null
  tss                = null
  cpg                = null
  repeatmasker       = null

  // Outputs
  outdir             = 'results'
  publish_mode       = 'copy'
  tracedir           = null
}

process {
  executor = 'local'
  shell = ['/bin/bash', '-euo', 'pipefail']

  withName: 'MATCH' {
    cpus = 2
    memory = '2 GB'
    time = '1h'
  }
  withName: 'ANNOTATE' {
    cpus = 2
    memory = '3 GB'
    time = '1h'
  }
  withName: 'MERGE_ANNOTATED' {
    cpus = 1
    memory = '1 GB'
    time = '30m'
  }
  withName: 'SUMMARIZE_MATCHES' {
    cpus = 1
    memory = '1 GB'
    time = '30m'
  }
  withName: 'PLOT_*' {
    cpus = 1
    memory = '2 GB'
    time = '1h'
  }
}

profiles {
  local {
    process.executor = 'local'
    env.PERL5LIB = "${projectDir}/.perl5/lib/perl5"
    env.PATH = "${projectDir}/.perl5/bin:${System.getenv('PATH')}"
  }
  docker {
    docker.enabled = true
    process.container = 'ghcr.io/bibymaths/grmap:latest'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process.container = 'docker://ghcr.io/bibymaths/grmap:latest'
  }
  hpc {
    process.executor = 'slurm'
    executor.queueSize = 100
  }
}

trace {
  enabled = true
  file = "${params.tracedir ?: params.outdir + '/pipeline_info/trace.txt'}"
}
report {
  enabled = true
  file = "${params.tracedir ?: params.outdir + '/pipeline_info/report.html'}"
}
timeline {
  enabled = true
  file = "${params.tracedir ?: params.outdir + '/pipeline_info/timeline.html'}"
}
dag {
  enabled = true
  file = "${params.tracedir ?: params.outdir + '/pipeline_info/dag.html'}"
}

includeConfig 'conf/base.config'
includeConfig 'conf/test.config'
