params {
  gff = params.gff ?: "${params.annotation_dir}/hg38_chr1_geneannotation.gff3.gz"
  tss = params.tss ?: "${params.annotation_dir}/hg38_chr1_tss.txt.gz"
  cpg = params.cpg ?: "${params.annotation_dir}/hg38_cpg.txt.gz"
  repeatmasker = params.repeatmasker ?: "${params.annotation_dir}/hg38_repeatmasker.bed.gz"
}
